body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.searchSection {
  text-align: center;
}

.searchSection h1 {
  font-weight: normal;
}

.searchSection__search {
  display: flex;
  justify-content: center;
}

.searchSection__searchBar {
  width: 50%;
}
